/* Import Figtree Google font */
/* @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap'); */

@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf')  format('truetype');
  font-weight: 500 800; 
  font-style: normal;
  font-display: swap; 
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0;
  line-height: 150%;
}
:root {
  /* Color variables */
  --yellow  : #F4D04E;
  --gray-950: #111111;
  --gray-500: #6B6B6B;
  --white   : #FFFFFF;
  /* Spacing variables */
  --sp-300: 24px;
  --sp-150: 12px;
  --sp-100:  8px;
  --sp-50 :  4px;
  --minus: 0px;
  
  /* Typography variables */

  /* H1 blog title desktop*/
  --text-preset-1: 800 24px/150% Figtree, sans-serif; 

  /* description paragraph */
  --text-preset-2: 500 16px/150% Figtree, sans-serif;

  /* publish date  */
  --text-preset-3: 500 14px/150% Figtree, sans-serif;

  /* tag and author name  */
  --text-preset-3b: 800 14px/150% Figtree, sans-serif;

/* Default font Figtree (or sans-serif if N/A), normal font-weight, 14px, 150% line-height */
  font: var(--text-preset-3);
  letter-spacing: 0;
  color: var(--gray-950);
}
.attribution {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  min-height: 580px;
  min-width: max-content;
  background-color: var(--yellow);
  position: relative;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--sp-300);
  background-color: var(--white);
  width: 384px; /* desktop-first width */
  margin: auto;
  vertical-align: middle;
  padding: var(--sp-300);
  border-radius: 20px;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0 black;
}
.blog-info {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--sp-150);
}
footer {
  position: absolute;
  bottom: 0.5rem;
  width: 100%;
}
.blog-image {
  border-radius: 10px;
  height: 200px;
  overflow: hidden;
}
.blog-image img{
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tag {
  width: fit-content;
  padding: var(--sp-50) var(--sp-150);
  background-color: var(--yellow);
  border-radius: var(--sp-50);
  font: var(--text-preset-3b);
}
.publish-date {
  font: var(--text-preset-3);
}
h1 {
  font: var(--text-preset-1);
  transition: all 0.3s;
}
h1:hover {
  transition: all 0.3s;
  cursor: pointer;
  color: var(--yellow);
}
h1:active {
  cursor: grabbing;
}
.description {
  font: var(--text-preset-2);
  color: var(--gray-500);
}
div.blog-author {
  display: flex;
  gap: var(--sp-150);
  place-items: center flex-start;
}
.blog-author-pic {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.blog-author-name {
  font: var(--text-preset-3b);
}

/* mobile */
@media screen and (max-width: 500px){
  .card {
    width: 327px; 
  }
  .tag,
  .publish-date {
    font-size: 12px;
  }
  h1 {
    font-size: 20px;
  }
  .description {
    font-size: 14px;
  }
}